project-management/automation/wf1_google_maps_enrichment.json
{
  "name": "Engezna - WF1: Google Maps Enrichment",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 340]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HTjVdxyh8Uhz1lMbe6CEvdSHXfzgwmlo96Cz6ZPrHU8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "مطاعم"
        },
        "options": {
          "range": "A1:Z500"
        }
      },
      "id": "read-merchants",
      "name": "Read Merchants Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [420, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// فلترة المتاجر اللي محتاجة تحديث\n// المتاجر اللي مفيش عندها جوجل ماب أو رقم تليفون أو عنوان\nconst items = $input.all();\nconst needsUpdate = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const merchantName = data['اسم المتجر'] || data['name'] || '';\n  \n  if (!merchantName || merchantName.trim() === '') continue;\n  \n  const googleMap = data['جوجل ماب'] || data['google_maps'] || '';\n  const phone = data['رقم الهاتف'] || data['الهاتف'] || data['phone'] || '';\n  const address = data['العنوان'] || data['address'] || '';\n  const area = data['المنطقة'] || data['المنطقه'] || data['area'] || '';\n  const category = data['القسم'] || data['التصنيف'] || data['category'] || 'restaurant';\n  \n  // لو فيه بيانات ناقصة، أضفه للتحديث\n  const missingFields = [];\n  if (!googleMap.trim()) missingFields.push('google_maps');\n  if (!phone.trim()) missingFields.push('phone');\n  if (!address.trim()) missingFields.push('address');\n  \n  if (missingFields.length > 0) {\n    needsUpdate.push({\n      json: {\n        merchant_name: merchantName.trim(),\n        area: area.trim() || 'بني سويف',\n        category: category.trim(),\n        existing_phone: phone.trim(),\n        existing_address: address.trim(),\n        existing_google_map: googleMap.trim(),\n        missing_fields: missingFields,\n        row_index: items.indexOf(item) + 2,\n        search_query: `${merchantName.trim()} ${area.trim() || 'بني سويف'}`\n      }\n    });\n  }\n}\n\n// لو مفيش حاجة محتاجة تحديث\nif (needsUpdate.length === 0) {\n  return [{ json: { no_updates_needed: true, message: 'كل البيانات مكتملة!' } }];\n}\n\nreturn needsUpdate;"
      },
      "id": "filter-missing",
      "name": "Filter Missing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-updates",
              "leftValue": "={{ $json.no_updates_needed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-updates",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 340]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "batch-process",
      "name": "Batch Processing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1080, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "location",
              "value": "29.0661,31.0994"
            },
            {
              "name": "radius",
              "value": "15000"
            },
            {
              "name": "language",
              "value": "ar"
            },
            {
              "name": "key",
              "value": "AIzaSyBPg7O_058B3uosXp1rUoNjxSSFpbTMZLI"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "places-text-search",
      "name": "Google Places Text Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.status }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-results",
      "name": "Results Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 440]
    },
    {
      "parameters": {
        "jsCode": "// استخراج أفضل نتيجة من البحث\nconst results = $input.first().json.results;\nconst originalData = $('Batch Processing').first().json;\n\nif (!results || results.length === 0) {\n  return [{ json: { ...originalData, search_failed: true } }];\n}\n\n// اختيار أول نتيجة (الأكثر صلة)\nconst best = results[0];\n\nreturn [{\n  json: {\n    ...originalData,\n    place_id: best.place_id,\n    place_name: best.name,\n    place_address: best.formatted_address || '',\n    place_rating: best.rating || 0,\n    place_total_ratings: best.user_ratings_total || 0,\n    place_lat: best.geometry?.location?.lat || 0,\n    place_lng: best.geometry?.location?.lng || 0,\n    business_status: best.business_status || 'UNKNOWN',\n    search_failed: false\n  }\n}];"
      },
      "id": "extract-best-result",
      "name": "Extract Best Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "fields",
              "value": "formatted_address,formatted_phone_number,international_phone_number,geometry,rating,user_ratings_total,opening_hours,website,url,business_status,name,types"
            },
            {
              "name": "language",
              "value": "ar"
            },
            {
              "name": "key",
              "value": "AIzaSyBPg7O_058B3uosXp1rUoNjxSSFpbTMZLI"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "place-details",
      "name": "Get Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1960, 340]
    },
    {
      "parameters": {
        "jsCode": "// تحويل بيانات Google Places لصيغة الإكسيل\nconst details = $input.first().json.result;\nconst originalData = $('Extract Best Result').first().json;\n\nif (!details) {\n  return [{ json: { ...originalData, enrichment_failed: true } }];\n}\n\n// تنسيق ساعات العمل\nlet openingHours = '';\nif (details.opening_hours && details.opening_hours.weekday_text) {\n  openingHours = details.opening_hours.weekday_text.join(' | ');\n}\n\n// تنسيق رقم الهاتف\nlet phone = details.formatted_phone_number || details.international_phone_number || '';\n// تنظيف الرقم\nphone = phone.replace(/[^0-9+]/g, '');\n\n// تحديد حالة المتجر\nlet statusAr = 'نشط';\nif (details.business_status === 'CLOSED_TEMPORARILY') statusAr = 'مغلق مؤقتاً';\nif (details.business_status === 'CLOSED_PERMANENTLY') statusAr = 'مغلق نهائياً';\n\nreturn [{\n  json: {\n    merchant_name: originalData.merchant_name,\n    row_index: originalData.row_index,\n    // البيانات المحدثة\n    enriched_name: details.name || originalData.merchant_name,\n    enriched_address: details.formatted_address || originalData.existing_address,\n    enriched_phone: phone || originalData.existing_phone,\n    google_maps_url: details.url || '',\n    website: details.website || '',\n    rating: details.rating || 0,\n    total_ratings: details.user_ratings_total || 0,\n    opening_hours: openingHours,\n    business_status: details.business_status || 'OPERATIONAL',\n    status_ar: statusAr,\n    lat: details.geometry?.location?.lat || 0,\n    lng: details.geometry?.location?.lng || 0,\n    // الحفاظ على البيانات الأصلية\n    original_phone: originalData.existing_phone,\n    original_address: originalData.existing_address,\n    original_google_map: originalData.existing_google_map,\n    // metadata\n    enriched_at: new Date().toISOString(),\n    source: 'google_maps_api'\n  }\n}];"
      },
      "id": "map-to-excel",
      "name": "Map to Excel Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 340]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HTjVdxyh8Uhz1lMbe6CEvdSHXfzgwmlo96Cz6ZPrHU8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "enrichment_results"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["merchant_name"]
        },
        "options": {}
      },
      "id": "write-results",
      "name": "Write Enrichment Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2400, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2620, 340],
      "webhookId": "rate-limit-wh"
    },
    {
      "parameters": {
        "jsCode": "// تسجيل المتاجر اللي مش لاقياها على الخريطة\nconst originalData = $('Batch Processing').first().json;\n\nreturn [{\n  json: {\n    merchant_name: originalData.merchant_name,\n    area: originalData.area,\n    status: 'NOT_FOUND_ON_MAPS',\n    note: 'لم يتم العثور على هذا المتجر على جوجل ماب - يحتاج بحث يدوي أو زيارة ميدانية',\n    logged_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-not-found",
      "name": "Log Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 560]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HTjVdxyh8Uhz1lMbe6CEvdSHXfzgwmlo96Cz6ZPrHU8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "not_found_log"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "write-not-found",
      "name": "Write Not Found Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1960, 560],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-done",
      "name": "All Done - No Updates",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 240]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Merchants Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Merchants Sheet": {
      "main": [
        [
          {
            "node": "Filter Missing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Missing Data": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "All Done - No Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Processing": {
      "main": [
        [
          {
            "node": "Google Places Text Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places Text Search": {
      "main": [
        [
          {
            "node": "Results Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results Found?": {
      "main": [
        [
          {
            "node": "Log Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Best Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Best Result": {
      "main": [
        [
          {
            "node": "Get Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Place Details": {
      "main": [
        [
          {
            "node": "Map to Excel Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Excel Format": {
      "main": [
        [
          {
            "node": "Write Enrichment Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Enrichment Results": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Batch Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Not Found": {
      "main": [
        [
          {
            "node": "Write Not Found Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Not Found Log": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "engezna",
      "id": "1"
    },
    {
      "name": "merchant-data",
      "id": "2"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-06T00:00:00.000Z",
  "versionId": "1"
}