project-management/automation/wf4_merchant_update_sync.json
{
  "name": "Engezna - WF4: Merchant Update Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 340]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HTjVdxyh8Uhz1lMbe6CEvdSHXfzgwmlo96Cz6ZPrHU8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "merged_final"
        },
        "options": {}
      },
      "id": "read-merged",
      "name": "Read Merged Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [420, 340],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-sa",
          "name": "Google Sheets Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// تحضير بيانات المتاجر للمزامنة مع Supabase\nconst items = $input.all();\nconst merchants = [];\n\n// Category mapping من عربي لـ enum في Supabase\nconst categoryMap = {\n  'مطاعم': 'restaurant_cafe',\n  'صيدليات': 'pharmacy',\n  'سوبرماركت': 'grocery',\n  'سوبر ماركت': 'grocery',\n  'خضار وفواكه': 'vegetables_fruits',\n  'حلويات وكافيهات': 'coffee_patisserie',\n  'كافيهات': 'coffee_patisserie',\n  'حلويات': 'coffee_patisserie'\n};\n\nfor (const item of items) {\n  const d = item.json;\n  const name = (d['اسم المتجر'] || d['name'] || '').trim();\n  if (!name) continue;\n  \n  const category = d['التصنيف'] || d['القسم'] || d['_category'] || '';\n  const phone = (d['رقم الهاتف'] || d['الهاتف'] || '').replace(/[\\s-]/g, '');\n  const address = d['العنوان'] || '';\n  const googleMaps = d['جوجل ماب'] || '';\n  const rating = parseFloat(d['التقييم']) || 0;\n  const lat = parseFloat(d['خط العرض']) || 0;\n  const lng = parseFloat(d['خط الطول']) || 0;\n  const website = d['الموقع الالكتروني'] || '';\n  const openingHours = d['ساعات العمل'] || '';\n  const status = d['حالة المتجر'] || 'نشط';\n  \n  merchants.push({\n    json: {\n      store_name: name,\n      business_category: categoryMap[category] || 'restaurant_cafe',\n      phone: phone,\n      address: address,\n      google_maps_url: googleMaps,\n      rating: rating,\n      latitude: lat,\n      longitude: lng,\n      website: website,\n      opening_hours: openingHours,\n      status_from_maps: status,\n      source: 'google_maps_enrichment',\n      last_synced: new Date().toISOString()\n    }\n  });\n}\n\nif (merchants.length === 0) {\n  return [{ json: { no_data: true, message: 'لا توجد بيانات للمزامنة' } }];\n}\n\nreturn merchants;"
      },
      "id": "prepare-sync-data",
      "name": "Prepare Sync Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-data",
              "leftValue": "={{ $json.no_data }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-data",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 340]
    },
    {
      "parameters": {},
      "id": "no-data-end",
      "name": "No Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/providers?select=id,store_name,phone,business_category",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-existing-providers",
      "name": "Fetch Existing Providers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1080, 440]
    },
    {
      "parameters": {
        "jsCode": "// مقارنة بيانات Google Sheets مع Supabase\nconst sheetMerchants = $('Prepare Sync Data').all();\nconst existingProviders = $input.first().json;\n\n// إنشاء خريطة للمتاجر الموجودة (بالاسم والهاتف)\nconst existingByName = new Map();\nconst existingByPhone = new Map();\n\nif (Array.isArray(existingProviders)) {\n  for (const p of existingProviders) {\n    const name = (p.store_name || '').trim().toLowerCase();\n    if (name) existingByName.set(name, p);\n    const phone = (p.phone || '').replace(/[\\s-]/g, '');\n    if (phone) existingByPhone.set(phone, p);\n  }\n}\n\nconst toUpdate = [];\nconst toAdd = [];\nlet matchedCount = 0;\n\nfor (const item of sheetMerchants) {\n  const m = item.json;\n  const name = (m.store_name || '').trim().toLowerCase();\n  const phone = (m.phone || '').replace(/[\\s-]/g, '');\n  \n  // البحث بالاسم أولاً ثم بالهاتف\n  const existingByNameMatch = existingByName.get(name);\n  const existingByPhoneMatch = phone ? existingByPhone.get(phone) : null;\n  const existing = existingByNameMatch || existingByPhoneMatch;\n  \n  if (existing) {\n    // متجر موجود - تحديث البيانات الناقصة فقط\n    const updates = {};\n    let hasUpdates = false;\n    \n    if (m.phone && !existing.phone) {\n      updates.phone = m.phone;\n      hasUpdates = true;\n    }\n    if (m.address && m.address.length > 5) {\n      updates.address = m.address;\n      hasUpdates = true;\n    }\n    if (m.google_maps_url) {\n      updates.google_maps_url = m.google_maps_url;\n      hasUpdates = true;\n    }\n    if (m.latitude && m.longitude) {\n      updates.latitude = m.latitude;\n      updates.longitude = m.longitude;\n      hasUpdates = true;\n    }\n    \n    if (hasUpdates) {\n      toUpdate.push({\n        json: {\n          provider_id: existing.id,\n          store_name: existing.store_name,\n          ...updates,\n          sync_action: 'update'\n        }\n      });\n    }\n    matchedCount++;\n  } else {\n    // متجر جديد - اقتراح للإضافة\n    toAdd.push({\n      json: {\n        ...m,\n        sync_action: 'new_suggestion'\n      }\n    });\n  }\n}\n\nconst results = [...toUpdate, ...toAdd];\n\nif (results.length === 0) {\n  return [{ json: {\n    sync_complete: true,\n    total_in_sheet: sheetMerchants.length,\n    matched: matchedCount,\n    updates: 0,\n    new_suggestions: 0,\n    message: 'لا توجد تحديثات مطلوبة - كل البيانات محدثة'\n  }}];\n}\n\n// أضف إحصائيات كأول عنصر\nresults.unshift({\n  json: {\n    _type: 'sync_stats',\n    total_in_sheet: sheetMerchants.length,\n    matched: matchedCount,\n    to_update: toUpdate.length,\n    new_suggestions: toAdd.length,\n    sync_date: new Date().toISOString()\n  }\n});\n\nreturn results;"
      },
      "id": "compare-data",
      "name": "Compare & Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 440]
    },
    {
      "parameters": {
        "jsCode": "// فصل الإحصائيات والتحديثات والاقتراحات\nconst items = $input.all();\n\n// لو مافيش تحديثات\nconst first = items[0]?.json;\nif (first?.sync_complete) {\n  return [{ json: first }];\n}\n\n// فصل البيانات\nconst stats = items.find(i => i.json._type === 'sync_stats');\nconst updates = items.filter(i => i.json.sync_action === 'update');\nconst newSuggestions = items.filter(i => i.json.sync_action === 'new_suggestion');\n\n// ارجع التحديثات فقط للتنفيذ\nif (updates.length === 0) {\n  return [{ json: { no_updates: true, stats: stats?.json, new_suggestions: newSuggestions.length } }];\n}\n\nreturn updates;"
      },
      "id": "extract-updates",
      "name": "Extract Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-updates",
              "leftValue": "={{ $json.no_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-updates",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1740, 440]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "batch-updates",
      "name": "Batch Updates",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1960, 540]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/providers?id=eq.{{ $json.provider_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, address: $json.address, google_maps_url: $json.google_maps_url, latitude: $json.latitude, longitude: $json.longitude }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "update-supabase",
      "name": "Update Supabase Provider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2180, 540]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "sync-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2400, 540],
      "webhookId": "sync-rate-limit-wh"
    },
    {
      "parameters": {
        "jsCode": "// تجميع إحصائيات المزامنة وكتابة التقرير\nconst compareResults = $('Compare & Diff').all();\nconst stats = compareResults.find(i => i.json._type === 'sync_stats');\n\nconst report = {\n  sync_date: new Date().toISOString(),\n  total_in_sheet: stats?.json?.total_in_sheet || 0,\n  matched_providers: stats?.json?.matched || 0,\n  providers_updated: stats?.json?.to_update || 0,\n  new_merchant_suggestions: stats?.json?.new_suggestions || 0,\n  sync_status: 'completed',\n  summary: `تم مزامنة ${stats?.json?.to_update || 0} متجر وتم اقتراح ${stats?.json?.new_suggestions || 0} متجر جديد`\n};\n\nreturn [{ json: report }];"
      },
      "id": "generate-sync-report",
      "name": "Generate Sync Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 340]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HTjVdxyh8Uhz1lMbe6CEvdSHXfzgwmlo96Cz6ZPrHU8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "سجل_التحديثات"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "write-sync-log",
      "name": "Write Sync Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2400, 340],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-sa",
          "name": "Google Sheets Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// تجميع المتاجر المقترحة الجديدة لكتابتها\nconst items = $('Compare & Diff').all();\nconst newSuggestions = items.filter(i => i.json.sync_action === 'new_suggestion');\n\nif (newSuggestions.length === 0) {\n  return [{ json: { no_suggestions: true } }];\n}\n\nreturn newSuggestions.map(s => ({\n  json: {\n    'اسم المتجر': s.json.store_name,\n    'التصنيف': s.json.business_category,\n    'الهاتف': s.json.phone,\n    'العنوان': s.json.address,\n    'جوجل ماب': s.json.google_maps_url,\n    'التقييم': s.json.rating,\n    'الحالة': 'مقترح - يحتاج مراجعة',\n    'تاريخ الاقتراح': new Date().toISOString().split('T')[0],\n    'المصدر': 'WF4 - Auto Sync'\n  }\n}));"
      },
      "id": "extract-new-suggestions",
      "name": "Extract New Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 340]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Merged Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Merged Data": {
      "main": [
        [
          {
            "node": "Prepare Sync Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sync Data": {
      "main": [
        [
          {
            "node": "Has Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data?": {
      "main": [
        [
          {
            "node": "No Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Existing Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Providers": {
      "main": [
        [
          {
            "node": "Compare & Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare & Diff": {
      "main": [
        [
          {
            "node": "Extract Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract New Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Updates": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Generate Sync Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Updates": {
      "main": [
        [
          {
            "node": "Update Supabase Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase Provider": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Batch Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract New Suggestions": {
      "main": [
        [
          {
            "node": "Generate Sync Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sync Report": {
      "main": [
        [
          {
            "node": "Write Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "engezna",
      "id": "1"
    },
    {
      "name": "supabase-sync",
      "id": "5"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-06T00:00:00.000Z",
  "versionId": "1"
}
